<div class="swiper-container-h swiper-init-capacity">
    <div class="swiper-pagination swiper-pagination-capacity"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide capacity1">
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">网络能力</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxcon noborder">
                <div class="tabbar tabbar-scrollable pr uitab">
                    <div class="toolbar-inner">
                        <!-- 关联到第一个tab的链接，默认激活 -->
                        <a href="#data_flow_capacity_1_tab1" class="tab-link active button borderright">
                            <h3 class="f20 m0 fn">小区变化</h3>
                        </a>
                        <!-- 关联到第二个tab的链接 -->
                        <a href="#data_flow_capacity_1_tab2" class="tab-link button borderright">
                            <h3 class="f20 m0 fn">基站变化</h3>
                        </a>
                    </div>
                </div>
                <div class="tabs-animated-wrap">
                    <!-- Tabs, tabs容器 -->
                    <div class="tabs">
                        <!-- Tab 1，默认激活 -->
                        <div id="data_flow_capacity_1_tab1" class="tab active">
                            <div class="mt5">
                                <div class="list-block cards-list cards-list-margin5">
                                    <ul>
                                        <li class="card">
                                            <div class="uicardheader1">2G累计小区<i class="headdata">46858个</i></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">新增</span><b
                                                                    class="f16 ml10 inter_gsm_week">0个</b></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">删除</span><b
                                                                    class="f16 ml10 inter_gsm_month">12个</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">TD累计小区<i class="headdata">30545个</i></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">新增</span><b
                                                                    class="f16 ml10 inter_gsm_week">0个</b></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">删除</span><b
                                                                    class="f16 ml10 inter_gsm_month">12个</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">LTE累计小区<i class="headdata">74664个</i></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">新增</span><b
                                                                    class="f16 ml10 inter_gsm_week">0个</b></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">删除</span><b
                                                                    class="f16 ml10 inter_gsm_month">12个</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">LTE累计双载波小区<span class="headdata">13530个</span></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">新增</span><b
                                                                    class="f16 ml10 inter_gsm_week">0个</b></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">删除</span><b
                                                                    class="f16 ml10 inter_gsm_month">12个</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">LTE累计多载波小区<span class="headdata">15577个</span></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">新增</span><b
                                                                    class="f16 ml10 inter_gsm_week">0个</b></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">删除</span><b
                                                                    class="f16 ml10 inter_gsm_month">12个</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <div id="data_flow_capacity_1_tab2" class="tab ">
                            <div class="mt15">
                                <div class="list-block cards-list cards-list-margin5">
                                    <ul>
                                        <li class="card">
                                            <div class="uicardheader1">2G累计基站<span  class="headdata">25281个</span></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">新增</span><b
                                                                    class="f16 ml10 inter_gsm_week">0个</b></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">删除</span><b
                                                                    class="f16 ml10 inter_gsm_month">12个</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">TD累计基站<span class="headdata">13444个</span></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">新增</span><b
                                                                    class="f16 ml10 inter_gsm_week">0个</b></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">删除</span><b
                                                                    class="f16 ml10 inter_gsm_month">12个</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">LTE累计基站<span>28552个</span></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">新增</span><b
                                                                    class="f16 ml10 inter_gsm_week">0个</b></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">删除</span><b
                                                                    class="f16 ml10 inter_gsm_month">12个</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>