<div class="swiper-container-h swiper-init-cmnet">
    <div class="swiper-pagination swiper-pagination-cmnet"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide cmnet1">
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">CMNET</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="boxcon noborder">
                <div class="list-block cards-list cards-list-margin5">
                    <ul>
                        <li class="card">
                            <div class="card-content">
                                <div class="">
                                    <div class="list-block usernormallist">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">第三方出口流量</div>
                                                    <div class="item-after datastyle">26.39TB</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">带宽利用率忙时最高链路负荷</div>
                                                    <div class="item-after datastyle">42.47%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">带宽利用率忙时入平均负荷</div>
                                                    <div class="item-after datastyle">41.95%</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card-content">
                                <div class="">
                                    <div class="list-block usernormallist">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">出省流量</div>
                                                    <div class="item-after datastyle">927.97TB</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">带宽利用率忙时最高链路负荷</div>
                                                    <div class="item-after datastyle">71.07%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">带宽利用率忙时入平均负荷</div>
                                                    <div class="item-after datastyle">68.16%</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>