<div class="swiper-container-h swiper-init-fault">
    <div class="swiper-pagination swiper-pagination-fault"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide fault1">
            <!-- 第一部分-s -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/>
                            </div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">网络故障</span><i class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 日期+菜单-e -->
                    <!-- 总流量-s -->
                    <div class="ml20 mr20 tc borderbottom">
                        <p class="m0 color-lightwhite f16">今日退服基站总数</p>

                        <h1 class="m0 color-yellow f45">681<span class="f12 color-lightwhite ml10">个</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="boxcon noborder">
                <div class="mt15">
                    <div class="card">
                        <div class="card-header">0-24时</div>
                        <div class="card-content">
                            <div class="card-content-inner usernormallist">
                                <div class="list-block">
                                    <ul>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">GSM基站及小区退服工单数</div>
                                                <div class="item-after datastyle">235个</div>
                                            </div>
                                        </li>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">TD基站及小区退服工单数</div>
                                                <div class="item-after datastyle">86个</div>
                                            </div>
                                        </li>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">LTE基站及小区退服工单数</div>
                                                <div class="item-after datastyle">342个</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>

        <div class="swiper-slide fault2">
            <!-- 第一部分 -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/>
                            </div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">网络故障</span><i class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 日期+菜单-e -->
                    <div class="ml20 mr20 tc borderbottom">
                        <p class="m0 color-lightwhite f16"> 截止今日6时未恢复基站及小区退服工单数</p>

                        <h1 class="m0 color-yellow f45">443<span class="f12 color-lightwhite ml10">个</span>
                            <i class="fa fa-exclamation-circle f16 ml5 btn_rank" style="color: #ffffff"></i></h1>
                    </div>
                    <div class="m20">
                        <ul class="datacol2">
                            <li>
                                <div class="borderright tc">
                                    <p class="m0 f12 fb"><i class="dot dotbg1"></i><span
                                            class="color-lightwhite vm">占比</span></p>

                                    <h2 class="mt5 mb0 f20"><span>0.66%</span></h2>
                                </div>
                            </li>
                            <li>
                                <div class="tc">
                                    <p class="m0 f12 fb"><i class="dot dotbg2"></i><span
                                            class="color-lightwhite vm">比昨日</span></p>

                                    <h2 class="mt5 mb0 f20">减少26<span class="f12 color-lightwhite ml5">个</span></h2>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 第二部分 -->
            <div class="boxcon noborder">
                <div class="list-block uilistblock">
                    <ul>
                        <li>
                            <a href="#" class="item-content item-link btn_rank">
                                <div class="item-media"><span class="listicon">2G</span></div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="f12 color-gary">GSM基站</div>
                                        <div class="mt5"><b class="f20">116</b><span
                                                class="f12 ml10 color-gary">个</span>
                                            <span class="f12 ml10 mr10 color-gary">占比</span><b class="f20">0.46%</b>
                                        </div>
                                    </div>
                                    <div class="item-after">
                                        <!--<div class="downtip"><i class="fa fa-arrow-down mr5"></i>26个</div>-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-content item-link btn_rank">
                                <div class="item-media"><span class="listicon">3G</span></div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="f12 color-gary">TD基站</div>
                                        <div class="mt5">
                                            <b class="f20">71</b><span class="f12 ml10 color-gary">个</span>
                                            <span class="f12 ml10 mr10 color-gary">占比</span><b class="f20">0.35%</b>
                                        </div>
                                    </div>
                                    <div class="item-after"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-content item-link btn_rank">
                                <div class="item-media"><span class="listicon">4G</span></div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="f12 color-gary">LTE基站</div>
                                        <div class="mt5"><b class="f20">256</b><span
                                                class="f12 ml10 color-gary">个</span>
                                            <span class="f12 ml10 mr10 color-gary">占比</span><b class="f20">0.90%</b>
                                        </div>
                                    </div>
                                    <div class="item-after"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="swiper-slide fault3">
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/>
                            </div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">网络故障</span><i class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 日期+菜单-e -->
                    <div class="ml20 mr20 tc borderbottom">
                        <p class="m0 color-lightwhite f16"> 截止今日6时未恢复重点基站及小区退服工单数</p>

                        <h1 class="m0 color-yellow f45">1<span class="f12 color-lightwhite ml10">个</span>
                        </h1>
                    </div>
                    <div class="m20">
                        <ul class="datacol2">
                            <li>
                                <div class="borderright tc">
                                    <p class="m0 f12 fb"><i class="dot dotbg1"></i><span
                                            class="color-lightwhite vm">占比</span></p>

                                    <h2 class="mt5 mb0 f20"><span>0.04%</span></h2>
                                </div>
                            </li>
                            <li>
                                <div class="tc">
                                    <p class="m0 f12 fb"><i class="dot dotbg2"></i><span
                                            class="color-lightwhite vm">比昨日</span></p>

                                    <h2 class="mt5 mb0 f20">减少2<span class="f12 color-lightwhite ml5">个</span></h2>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 第一部分-e -->
            <div class="boxcon pt20 pb20">
                <div style="height:200px;"><img src="img/tmp1.png" width="100%"></div>
            </div>
        </div>
    </div>
</div>