<div class="swiper-container-h swiper-init-inter">
    <div class="swiper-pagination swiper-pagination-inter"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide inter1">
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">互联互通</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" noborder">
                <div class="tabbar tabbar-scrollable pr uitab">
                    <div class="toolbar-inner">
                        <!-- 关联到第一个tab的链接，默认激活 -->
                        <a href="#data_flow_inter_1_tab1" class="tab-link active button borderright">
                            <h3 class="f18 m0 fn">互联话务</h3>
                        </a>
                        <!-- 关联到第二个tab的链接 -->
                        <a href="#data_flow_inter_1_tab2" class="tab-link button borderright">
                            <h3 class="f18 m0 fn">互联短信</h3>
                        </a>
                    </div>
                </div>
                <div class="tabs-animated-wrap">
                    <!-- Tabs, tabs容器 -->
                    <div class="tabs">
                        <!-- Tab 1，默认激活 -->
                        <div id="data_flow_inter_1_tab1" class="tab active">
                            <div class=" mt5">
                                <div class="list-block cards-list cards-list-margin5">
                                    <ul>
                                        <li class="card">
                                            <div class="uicardheader1">电信固话<i class="headdata">24.35万ERL</i></div>
                                            <div class="card-content">
                                                <div class=" pb10">
                                                    <div class="row">
                                                        <!-- Each "cell" has col-[widht in percents] class -->
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">周环比</span><b
                                                                    class="f16 ml10 traffic_gsm_week">-3.38%</b><i
                                                                    class="downarrow2 ml5"></i></div>
                                                        </div>
                                                        <div class="col-50">
                                                            <div class="pl20"><span class="labelcolor">月环比</span><b
                                                                    class="f16 ml10 traffic_gsm_month">-2.48%</b><i
                                                                    class="uparrow2 ml5"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">电信C网<i class="headdata">24.35万ERL</i></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <!-- Each "cell" has col-[widht in percents] class -->
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">周环比</span><b
                                                                    class="f16 ml10 traffic_gsm_week">-3.38%</b><i
                                                                    class="downarrow2 ml5"></i></div>
                                                        </div>
                                                        <div class="col-50">
                                                            <div class="pl20"><span class="labelcolor">月环比</span><b
                                                                    class="f16 ml10 traffic_gsm_month">-2.48%</b><i
                                                                    class="uparrow2 ml5"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">联通G网<i class="headdata">24.35万ERL</i></div>
                                            <div class="card-content">
                                                <div class="card-content-inner p5">
                                                    <div class="row">
                                                        <!-- Each "cell" has col-[widht in percents] class -->
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">周环比</span><b
                                                                    class="f16 ml10 traffic_gsm_week">-3.38%</b><i
                                                                    class="downarrow2 ml5"></i></div>
                                                        </div>
                                                        <div class="col-50">
                                                            <div class="pl20"><span class="labelcolor">月环比</span><b
                                                                    class="f16 ml10 traffic_gsm_month">-2.48%</b><i
                                                                    class="uparrow2 ml5"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">联通固话<i class="headdata">24.35万ERL</i></div>
                                            <div class="card-content">
                                                <div class="card-content-inner p5">
                                                    <div class="row">
                                                        <!-- Each "cell" has col-[widht in percents] class -->
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">周环比</span><b
                                                                    class="f16 ml10 traffic_gsm_week">-3.38%</b><i
                                                                    class="downarrow2 ml5"></i></div>
                                                        </div>
                                                        <div class="col-50">
                                                            <div class="pl20"><span class="labelcolor">月环比</span><b
                                                                    class="f16 ml10 traffic_gsm_month">-2.48%</b><i
                                                                    class="uparrow2 ml5"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <div id="data_flow_inter_1_tab2" class="tab">
                            <div class="mt5">
                                <div class="list-block cards-list cards-list-margin5">
                                    <ul>
                                        <li class="card">
                                            <div class="uicardheader1">与联通全天<i class="headdata">550.71万条</i></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">周环比</span><b
                                                                    class="f16 ml10 inter_gsm_week">-13.39%</b><i
                                                                    class="downarrow2 ml5"></i></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">月环比</span><b
                                                                    class="f16 ml10 inter_gsm_month">-0.36%</b><i
                                                                    class="uparrow2 ml5"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card">
                                            <div class="uicardheader1">与电信全天<i class="headdata">280.56万条</i></div>
                                            <div class="card-content">
                                                <div class="pb10">
                                                    <div class="row">
                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">周环比</span><b
                                                                    class="f16 ml10 inter_gsm_week">-13.39%</b><i
                                                                    class="downarrow2 ml5"></i></div>
                                                        </div>

                                                        <div class="col-50 borderright">
                                                            <div class="pl20"><span class="labelcolor">月环比</span><b
                                                                    class="f16 ml10 inter_gsm_month">-0.36%</b><i
                                                                    class="uparrow2 ml5"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>