<div class="page-content">
    <!-- Vertical nested child slider -->
    <div class="swiper-container-v swiper-init-v">
        <div class="swiper-pagination swiper-pagination-v"></div>
        <div class="swiper-wrapper swiper-wrapper-v">
            <!--话务量-->


            <!--数据流量-->


            <!--用户数-->


            <!--CMNET-->


            <!--短彩信业务量-->


            <!--互联互通-->

            <!--网络利用率-->

            <!--网络能力-->

            <!--网络故障-->

            <!--网络质量-->

            <!--VOLTE专题-->

            <!--备注-->
        </div>


    </div>
    </div>
