<div class="swiper-container-h swiper-init-quality">
    <div class="swiper-pagination swiper-pagination-quality"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide quality1">

            <!-- 第一部分-s -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">网络质量</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ml20 mr20 pb20 tc borderbottom">
                        <p class="m0 color-lightwhite f16">总体质量</p>

                    </div>                    <!-- 日期+菜单-e -->
                    <!-- 总流量-s -->

                    <!-- 月环比，周环比，年同比 -e-->
                </div>
            </div>
            <div class="tabbar tabbar-scrollable pr uitab">
                <div class="toolbar-inner">
                    <!-- 关联到第一个tab的链接，默认激活 -->
                    <a href="#quality_1_tab1" class="tab-link active button borderright">
                        <h3 class="f20 m0 fn">2G</h3>
                    </a>
                    <!-- 关联到第二个tab的链接 -->
                    <a href="#quality_1_tab2" class="tab-link button borderright">
                        <h3 class="f20 m0 fn">TD</h3>
                    </a>
                    <!-- 关联到第三个tab的链接 -->
                    <a href="#quality_1_tab3" class="tab-link button">
                        <h3 class="f20 m0 fn">LTE</h3>
                    </a>
                    <!-- 关联到第三个tab的链接 -->
                    <a href="#quality_1_tab4" class="tab-link button">
                        <h3 class="f20 m0 fn">WLAN</h3>
                    </a>
                </div>
            </div>
            <div class="tabs-animated-wrap">
                <div class="tabs">
                    <div id="quality_1_tab1" class="tab active">
                        <div class="mt15">
                            <div class="card">
                                <div class="card-header">2G网络质量</div>
                                <div class="card-content">
                                    <div class="">
                                        <div class="list-block usernormallist">
                                            <ul>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">接通率</div>
                                                        <div class="item-after datastyle">99.87%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">掉话率</div>
                                                        <div class="item-after datastyle">0.37%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">质差小区比例</div>
                                                        <div class="item-after datastyle">0.69%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">高干扰小区比例</div>
                                                        <div class="item-after datastyle">0.44%</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div id="quality_1_tab2" class="tab">
                        <div class="mt15">
                            <div class="card">
                                <div class="card-header">TD网网络质量</div>
                                <div class="card-content">
                                    <div class="card-content-inner usernormallist">
                                        <div class="list-block">
                                            <ul>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">CS域无线接通率</div>
                                                        <div class="item-after datastyle">99.91%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">PS域无线接通率</div>
                                                        <div class="item-after datastyle">99.75%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">CS域无线掉话率</div>
                                                        <div class="item-after datastyle">0.07%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">PS域无线掉线率</div>
                                                        <div class="item-after datastyle">0.09%</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Tab 3 -->
                    <div id="quality_1_tab3" class="tab">
                        <div class="mt15">
                            <div class="card">
                                <div class="card-header">LTE网络质量</div>
                                <div class="card-content">
                                    <div class="card-content-inner usernormallist">
                                        <div class="list-block">
                                            <ul>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">无线接通率</div>
                                                        <div class="item-after datastyle">99.46%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">无线掉话率</div>
                                                        <div class="item-after datastyle">0.15%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">切换成功率</div>
                                                        <div class="item-after datastyle">99.49%</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="quality_1_tab4" class="tab">
                        <div class="mt15">
                            <div class="card">
                                <div class="card-header">WLAN网络质量</div>
                                <div class="card-content">
                                    <div class="card-content-inner usernormallist">
                                        <div class="list-block">
                                            <ul>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">关联成功率</div>
                                                        <div class="item-after datastyle">99.39%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">DHCP请求成功率</div>
                                                        <div class="item-after datastyle">99.88%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">AP关联拥塞率</div>
                                                        <div class="item-after datastyle">0.19%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">超闲AP占比</div>
                                                        <div class="item-after datastyle">34.79%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">超忙AP占比</div>
                                                        <div class="item-after datastyle">0%</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-slide dataflow2">
            <!-- 第一部分-s -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">网络质量</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 日期+菜单-e -->
                    <!-- 总流量-s -->
                    <div class="ml20 mr20 pb20 tc borderbottom">
                        <p class="m0 color-lightwhite f16">CSFB成功率相关指标</p>

                    </div>
                    <!-- 总流量-e -->
                </div>
            </div>
            <!-- 第一部分-e -->
            <div class="tabbar tabbar-scrollable pr uitab">
                <div class="toolbar-inner">
                    <a href="#quality_2_tab1" class="tab-link active button borderright">
                        <h3 class="f20 m0 fn">98.7%</h3>

                        <div class="m0 f12 op6">被叫寻呼(网管)</div>

                    </a>
                    <a href="#quality_2_tab2" class="tab-link button borderright">
                        <h3 class="f20 m0 fn">98.65%</h3>

                        <div class="m0 f12 op6">被叫回落(网管)</div>
                    </a>
                    <a href="#quality_2_tab3" class="tab-link button borderright">
                        <h3 class="f20 m0 fn">96.5%</h3>

                        <div class="m0 f12 op6">被叫寻呼(CSFB)</div>
                    </a>
                    <a href="#quality_2_tab4" class="tab-link button">
                        <h3 class="f20 m0 fn">94.74%</h3>

                        <div class="m0 f12 op6">被叫回落(CSFB)</div>
                    </a>
                </div>
            </div>
            <div class="tabs-animated-wrap">
                <div class="tabs">
                    <div id="quality_2_tab1" class="tab active">
                        <div class="card">
                            <div class="card-header">网管统计CSFB被叫寻呼</div>
                            <div class="card-content">
                                <div class="card-content-inner usernormallist">
                                    <div class="list-block">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">被叫寻呼成功率:98.7%</div>
                                                    <div class="item-after datastyle">日环比0.01pp</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">集团考核时段:98.71%</div>
                                                    <div class="item-after datastyle">日环比-0.01pp</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">本月累计集团考核</div>
                                                    <div class="item-after datastyle">98.78%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">上月全国平均</div>
                                                    <div class="item-after datastyle">98.7%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">直辖市最好</div>
                                                    <div class="item-after datastyle">北京(98.5%)</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Tab 2 -->
                    <div id="quality_2_tab2" class="tab">
                        <div class="card">
                            <div class="card-header">网管统计CSFB被叫回落</div>
                            <div class="card-content">
                                <div class="card-content-inner usernormallist">
                                    <div class="list-block">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">被叫回落成功率:98.7%</div>
                                                    <div class="item-after datastyle">日环比0.01pp</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">集团考核时段:98.71%</div>
                                                    <div class="item-after datastyle">日环比-0.01pp</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">本月累计集团考核</div>
                                                    <div class="item-after datastyle">98.78%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">上月全国平均</div>
                                                    <div class="item-after datastyle">98.7%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">直辖市最好</div>
                                                    <div class="item-after datastyle">北京(98.5%)</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab 3 -->
                    <div id="quality_2_tab3" class="tab">
                        <div class="mt15">
                            <div class="card">
                                <div class="card-header">CSFB系统CSFB被叫寻呼<a href="#" class="button button-raised btn-bar-chart btn_rank"><i class="fa fa-bar-chart"></i></a></div>
                                <div class="card-content">
                                    <div class="card-content-inner usernormallist">
                                        <div class="list-block">
                                            <ul>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">被叫寻呼成功率96.5%</div>
                                                        <div class="item-after datastyle">日环比0.14pp</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">寻呼质差小区数量737个</div>
                                                        <div class="item-after datastyle">日环比9个</div>
                                                    </div>
                                                </li>
                                                <!--<div>
                                                    延庆(97.94%,5),怀柔(97.93%,6),房山(97.66%,5),密云(97.62%,10),平谷(97.62%,7),城二(96.89%,63),顺义(96.88%,27),城三(96.54%,149),大兴(96.2%,79),城一(96.04%,249),昌平(95.9%,53),通州(95.73%,72)
                                                </div>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="quality_2_tab4" class="tab">
                        <div class="mt15">
                            <div class="card">
                                <div class="card-header">CSFB系统CSFB被叫回落<a href="#" class="button button-raised btn-bar-chart btn_rank"><i class="fa fa-bar-chart"></i></a></div>
                                <div class="card-content">
                                    <div class="card-content-inner usernormallist">
                                        <div class="list-block">
                                            <ul>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">回落成功率94.74%</div>
                                                        <div class="item-after datastyle">日环比-0.02pp</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">回落质差小区数量1064个</div>
                                                        <div class="item-after datastyle">日环比157个</div>
                                                    </div>
                                                </li>
                                               <!-- <div>
                                                    延庆(97.94%,5),怀柔(97.93%,6),房山(97.66%,5),密云(97.62%,10),平谷(97.62%,7),城二(96.89%,63),顺义(96.88%,27),城三(96.54%,149),大兴(96.2%,79),城一(96.04%,249),昌平(95.9%,53),通州(95.73%,72)
                                                </div>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="swiper-slide dataflow3">
            <!-- 第一部分-s -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">网络质量</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 日期+菜单-e -->
                    <!-- 总流量-s -->
                    <div class="ml20 mr20 pb20 tc borderbottom">
                        <p class="m0 color-lightwhite f16">LTE核心网关键指标</p>

                    </div>
                    <!-- 总流量-e -->
                </div>
            </div>
            <!-- 第一部分-e -->
            <div class="tabbar tabbar-scrollable pr uitab">
                <div class="toolbar-inner">
                    <a href="#quality_3_tab1" class="tab-link active button borderright">
                        <h3 class="f20 m0 fn">99.77%</h3>

                        <div class="m0 f12 op6">附着成功率</div>

                    </a>
                    <a href="#quality_3_tab2" class="tab-link button borderright">
                        <h3 class="f20 m0 fn">98.65%</h3>

                        <div class="m0 f12 op6">激活成功率</div>
                    </a>
                    <a href="#quality_3_tab3" class="tab-link button borderright">
                        <h3 class="f20 m0 fn">96.5%</h3>

                        <div class="m0 f12 op6">寻呼成功率</div>
                    </a>
                    <a href="#quality_3_tab4" class="tab-link button">
                        <h3 class="f20 m0 fn">94.74%</h3>

                        <div class="m0 f12 op6">更新成功率</div>
                    </a>
                </div>
            </div>
            <div class="tabs-animated-wrap">
                <div class="tabs">
                    <div id="quality_3_tab1" class="tab active">
                        <div class="mt15">
                            <div class="card">
                                <div class="card-header">附着成功率</div>
                                <div class="card-content">
                                    <div class="card-content-inner usernormallist">
                                        <div class="list-block">
                                            <ul>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">排除用户原因的附着成功率99.77%</div>
                                                        <div class="item-after datastyle">日环比0pp</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">当日最差网元为</div>
                                                        <div class="item-after datastyle">BJMME76BNK(99.75%)</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">上月全国平均</div>
                                                        <div class="item-after datastyle">99.68%</div>
                                                    </div>
                                                </li>
                                                <li class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title">直辖市最好</div>
                                                        <div class="item-after datastyle">北京(99.68%)</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div id="quality_3_tab2" class="tab">
                        <div class="card">
                            <div class="card-header">MME缺省承载激活成功率</div>
                            <div class="card-content">
                                <div class="card-content-inner usernormallist">
                                    <div class="list-block">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">MME缺省承载激活成功率99.92%</div>
                                                    <div class="item-after datastyle">日环比-0.01pp</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">当日最差网元为</div>
                                                    <div class="item-after datastyle">BJMME33BHW(98.94%)</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">上月全国平均</div>
                                                    <div class="item-after datastyle">92.27%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">直辖市最好</div>
                                                    <div class="item-after datastyle">北京(99.68%)</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Tab 3 -->
                    <div id="quality_3_tab3" class="tab">
                        <div class="card">
                            <div class="card-header">寻呼成功率</div>
                            <div class="card-content">
                                <div class="card-content-inner usernormallist">
                                    <div class="list-block">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">寻呼成功率:99.92%</div>
                                                    <div class="item-after datastyle">日环比-0.01pp</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">当日最差网元为</div>
                                                    <div class="item-after datastyle">BJMME33BHW(98.94%)</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">上月全国平均</div>
                                                    <div class="item-after datastyle">92.27%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">直辖市最好</div>
                                                    <div class="item-after datastyle">北京(99.68%)</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="quality_3_tab4" class="tab">
                        <div class="card">
                            <div class="card-header">跟踪区更新成功率</div>
                            <div class="card-content">
                                <div class="card-content-inner usernormallist">
                                    <div class="list-block">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">跟踪区更新成功率:99.92%</div>
                                                    <div class="item-after datastyle">日环比-0.01pp</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">当日最差网元为</div>
                                                    <div class="item-after datastyle">BJMME33BHW(98.94%)</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">上月全国平均</div>
                                                    <div class="item-after datastyle">92.27%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">直辖市最好</div>
                                                    <div class="item-after datastyle">北京(99.68%)</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="swiper-slide dataflow4">
            <!-- 第一部分-s -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">网络质量</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 日期+菜单-e -->
                    <!-- 总流量-s -->
                    <div class="ml20 mr20 pb20 tc borderbottom">
                        <p class="m0 color-lightwhite f16">拥塞小区统计</p>

                    </div>
                    <!-- 总流量-e -->
                </div>
            </div>

            <div class="tabs-animated-wrap">
                <div class="boxcon noborder">
                    <div class="list-block uilistblock">
                        <ul>
                            <li>
                                <a href="#" class="item-content item-link fault_item">
                                    <div class="item-media"><span class="listicon">2G</span>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <div class="f12 color-gary">2G语音拥塞小区</div>
                                            <div class="mt5">
                                                <b class="f20">24</b><span class="f12 ml10 color-gary">个</span>
                                                <span class="f12 ml10 mr10 color-gary">占比</span><b class="f20">0.05%</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-content item-link fault_item">
                                    <div class="item-media"><span class="listicon">3G</span></div>
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <div class="f12 color-gary">TD语音拥塞</div>
                                            <div class="mt5"><b class="f20">0</b><span
                                                    class="f12 ml10 color-gary">个</span>
                                                <span class="f12 ml10 mr10 color-gary">占比</span><b class="f20">0%</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-content item-link fault_item">
                                    <div class="item-media"><span class="listicon">3G</span></div>
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <div class="f12 color-gary">TD数据拥塞</div>
                                            <div class="mt5">
                                                <b class="f20">0</b><span class="f12 ml10 color-gary">个</span>
                                                <span class="f12 ml10 mr10 color-gary">占比</span><b class="f20">0%</b>
                                            </div>
                                        </div>
                                        <div class="item-after"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-content item-link fault_item">
                                    <div class="item-media"><span class="listicon">4G</span></div>
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <div class="f12 color-gary">LTE超忙拥塞</div>
                                            <div class="mt5"><b class="f20">4</b><span
                                                    class="f12 ml10 color-gary">个</span>
                                                <span class="f12 ml10 mr10 color-gary">占比</span><b class="f20">0.03%</b>
                                            </div>
                                        </div>
                                        <div class="item-after"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>