<div class="swiper-container-h swiper-init-remarks">
    <div class="swiper-pagination swiper-pagination-remarks"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide remarks">
            <div class="topdatabox">
                <div class="tdcon">
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class="open-panel">
                                    <span class="color-lightwhite">备注</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="font-weight: bold;">查询劣化小区详情信息方法</div>
                <div class="card-content">
                    <div class="card-content-inner">
                        登陆网络信息门户系统(nms.bmcc.com.cn)，按照"指标查询--通报--网络运行日报--详情"路径查询
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        <p>目前手机版网络运行日报已上线,目前支持安卓和苹果手机,请扫描下载应用</p>
                        <div style="text-align: center;"> <img src="img/2ma.png" height="100px" width="100px"></div>

                        <!--
                                                    http://221.130.32.217:7013/handtask/download/mindex.jsp
                        -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        本彩信由网管系统自动发送,如需增减彩信版接收人,请发送邮件给潘萌萌panmengmeng@bj.chinamobile.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>