<div class="swiper-container-h swiper-init-sms">
    <div class="swiper-pagination swiper-pagination-sms"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide sms1">
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">短彩信业务量</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="boxcon noborder">
                <div class="list-block cards-list cards-list-margin5">
                    <ul>
                        <li class="card">
                            <div class="uicardheader1">短信<i class="headdata">13957.4312万条</i></div>
                            <div class="card-content">
                                <div class="">
                                    <div class="pb10">
                                        <ul class="datacol3">
                                            <li>
                                                <div class="borderright pl20">
                                                    <div class="m0 f12 labelcolor">周环比</div>
                                                    <h3 class="f16 m0 fn traffic_gsm_week">-3.38%</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="borderright pl20">
                                                    <div class="m0 f12 labelcolor">月环比</div>
                                                    <h3 class="f16 m0 fn traffic_gsm_month">-2.48%</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div class=" pl20">
                                                    <div class="m0 f12 labelcolor">年同比</div>
                                                    <h3 class="f16 m0 fn traffic_gsm_year">1.18%</h3>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="panelfootbox">
                                        <div class="fl">年累计:<b class="f14 color-blue ml10">160.45亿条</b></div>
                                        <div class="fr">年同比:<b class="f14 ml10 color-blue traffic_gsm_year">1.18%</b><i class="downarrow2 ml5"></i></div>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-block cards-list cards-list-margin5">
                    <ul>
                        <li class="card">
                            <div class="uicardheader1">彩信<i class="headdata">512.68万条</i></div>
                            <div class="card-content">
                                <div class="">
                                    <div class="pb10">
                                        <ul class="datacol3">
                                            <li>
                                                <div class="borderright pl20">
                                                    <div class="m0 f12 labelcolor">周环比</div>
                                                    <h3 class="f16 m0 fn traffic_gsm_week">-3.38%</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="borderright pl20">
                                                    <div class="m0 f12 labelcolor">月环比</div>
                                                    <h3 class="f16 m0 fn traffic_gsm_month">-2.48%</h3>
                                                </div>
                                            </li>
                                            <li>
                                                <div class=" pl20">
                                                    <div class="m0 f12 labelcolor">年同比</div>
                                                    <h3 class="f16 m0 fn traffic_gsm_year">1.18%</h3>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="panelfootbox">
                                        <div class="fl">年累计:<b class="f14 color-blue ml10">160.45亿条</b></div>
                                        <div class="fr">年同比:<b class="f14 ml10 color-blue traffic_gsm_year">1.18%</b><i class="downarrow2 ml5"></i></div>
                                    </div>
                                    

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>