<div class="swiper-container-h swiper-init-traffic">
    <div class="swiper-pagination swiper-pagination-traffic"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide traffic1">
            <!-- 第一部分-s -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">话务量</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 日期+菜单-e -->
                    <!-- 总流量-s -->
                    <div class="ml20 mr20 tc borderbottom">
                        <p class="m0 color-lightwhite f16">总话务量(万ERL)</p>

                        <h1 class="m0 color-yellow f45"><span class="traffic_13_c">430.13</span><i
                                class="fa fa-exclamation-circle f16 ml5 btn_rank" style="color: #ffffff"></i></h1>
                    </div>
                    <!-- 总流量-e -->
                    <!-- 月环比，周环比，年同比 -s-->
                    <div class="m20">
                        <ul class="datacol3">
                            <li>
                                <div class="borderright tc">
                                    <p class="m0 color-lightwhite f12 fb">周环比</p>

                                    <h2 class="mt5 mb0 f20"><span class="traffic_13_week">-3.6%</span><i class="traffic_13_week_i ml5"></i></h2>
                                </div>
                            </li>
                            <li>
                                <div class="borderright tc">
                                    <p class="m0 color-lightwhite f12 fb">月环比</p>

                                    <h2 class="mt5 mb0 f20"><span class=" traffic_13_month">-3.37%</span><i class="traffic_13_month_i ml5"></i></h2>
                                </div>
                            </li>
                            <li>
                                <div class="tc">
                                    <p class="m0 color-lightwhite f12 fb">年同比</p>

                                    <h2 class="mt5 mb0 f20"><span class="traffic_13_year">-4.73%</span><i class="traffic_13_year_i  ml5"></i></h2>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 月环比，周环比，年同比 -e-->
                </div>
            </div>
            <!-- 第一部分-e -->
            <div class="tabbar tabbar-scrollable pr uitab">
                <div class="toolbar-inner">
                    <!-- 关联到第一个tab的链接，默认激活 -->
                    <a href="#traffic_tab1" class="tab-link active button borderright">
                        <h3 class="f18 m0 fn traffic_gsm_c">403.12</h3>

                        <div class="m0 f12 op6">2G(万Erl)</div>
                    </a>
                    <!-- 关联到第二个tab的链接 -->
                    <a href="#traffic_tab2" class="tab-link button borderright">
                        <h3 class="f18 m0 fn traffic_td_c">27.01</h3>

                        <div class="m0 f12 op6">TD(万Erl)</div>
                    </a>
                    <!-- 关联到第三个tab的链接 -->
                    <a href="#traffic_tab3" class="tab-link button">
                        <h3 class="f18 m0 fn traffic_13_lj">5.44</h3>

                        <div class="m0 f12 op6">年累计(亿Erl)</div>
                    </a>
                </div>
            </div>

            <div class="tabs-animated-wrap">
                <!-- Tabs, tabs容器 -->
                <div class="tabs">
                    <!-- Tab 1，默认激活 -->
                    <div id="traffic_tab1" class="tab active">

                        <div class="list-block cards-list cards-list-margin5">
                            <ul>
                                <li class="card">
                                    <div class="uicardheader1">今日2G网话务量<i class="headdata traffic_gsm_cc"></i></div>
                                    <div class="card-content">
                                        <div class="pb10">
                                            <ul class="datacol3">
                                                        <li>
                                                            <div class="borderright pl20">
                                                                <div class="m0 f12 labelcolor">周环比</div>
                                                                <h3 class="f16 m0  fn"><span class=" traffic_gsm_week">-3.38%</span><i class="uparrow2 ml5"></i></h3>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="borderright pl20">
                                                                <div class="m0 f12 labelcolor">月环比</div>
                                                                <h3 class="f16 m0 fn"><span class=" traffic_gsm_month">-2.48%</span><i class="downarrow2 ml5"></i></h3>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="pl20">
                                                                <div class="m0 f12 labelcolor">年同比</div>
                                                                <h3 class="f16 m0 fn"><span class="traffic_gsm_year">1.18%</span><i class="downarrow2 ml5"></i></h3>
                                                            </div>
                                                        </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="list-block cards-list cards-list-margin5">
                            <ul>
                                <li class="card">
                                    <div class="uicardheader1">最大忙时话务量<i class="headdata">17-18时:29.97万Erl</i></div>
                                    <div class="card-content">
                                            <div class="pb10">
                                                <ul class="datacol3">
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">周环比</div>
                                                            <h3 class="f16 m0 fn"><span class=" traffic_td_week">-3.38%</span><i class="uparrow2 ml5"></i></h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">月环比</div>
                                                            <h3 class="f16 m0 fn"><span class="traffic_td_month">-2.48%</span><i class="uparrow2 ml5"></i></h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="pl20">
                                                            <div class="m0 f12 labelcolor">年同比</div>
                                                            <h3 class="f16 m0 fn"><span class=" traffic_td_year">1.18%</span><i class="downarrow2 ml5"></i></h3>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div id="traffic_tab2" class="tab">
                        <div class="list-block cards-list cards-list-margin5">
                            <ul>
                                <li class="card">
                                    <div class="uicardheader1">今日TD网话务量<i class="headdata">27.01万Erl</i></div>
                                    <div class="card-content">
                                        <div class="pb10">
                                            <ul class="datacol3">
                                                <li>
                                                    <div class="borderright pl20">
                                                        <div class="m0 f12 labelcolor">周环比</div>
                                                        <h3 class="f16 m0 fn"><span class=" traffic_td_week">-3.38%</span><i class="uparrow2 ml5"></i></h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="borderright pl20">
                                                        <div class="m0 f12 labelcolor">月环比</div>
                                                        <h3 class="f16 m0 fn"><span class="traffic_td_month">-2.48%</span><i class="uparrow2 ml5"></i></h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="pl20">
                                                        <div class="m0 f12 labelcolor">年同比</div>
                                                        <h3 class="f16 m0 fn"><span class=" traffic_td_year">1.18%</span><i class="downarrow2 ml5"></i></h3>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="list-block cards-list cards-list-margin5">
                            <ul>
                                <li class="card">
                                    <div class="uicardheader1">最大忙时话务量:<i class="headdata">10-11时,2.04万Erl</i></div>
                                    <div class="card-content">
                                        <div class="pb10">
                                            <ul class="datacol3">
                                                <li>
                                                    <div class="borderright pl20">
                                                        <div class="m0 f12 labelcolor">周环比</div>
                                                        <h3 class="f16 m0 fn"><span class=" traffic_td_week">-3.38%</span><i class="uparrow2 ml5"></i></h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="borderright pl20">
                                                        <div class="m0 f12 labelcolor">月环比</div>
                                                        <h3 class="f16 m0 fn"><span class="traffic_td_month">-2.48%</span><i class="uparrow2 ml5"></i></h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="pl20">
                                                        <div class="m0 f12 labelcolor">年同比</div>
                                                        <h3 class="f16 m0 fn"><span class=" traffic_td_year">1.18%</span><i class="downarrow2 ml5"></i></h3>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tab 3 -->
                    <div id="traffic_tab3" class="tab">
                        <div class="list-block cards-list cards-list-margin5">
                            <ul>
                                <li class="card">
                                    <div class="card-content">
                                        <div class="">
                                            <div class="panelfootbox">
                                                <div class="fl">年累计总话务量:<b class="f14 color-blue ml10 traffic_13_lj">5.44亿Erl</b></div>
                                                <div class="fr">年同比:<b class="f14 ml10 color-blue traffic_13_ljb">-2.68%</b><i class="downarrow2 ml5"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="card">
                                    <div class="card-content">
                                        <div class="">
                                            <div class="panelfootbox">
                                                <div class="fl">G网年累计:<b class="f14 color-blue ml10 traffic_13_lj">5.02亿Erl</b></div>
                                                <div class="fr">年同比:<b class="f14 ml10 color-blue traffic_13_ljb">-2.68%</b><i class="downarrow2 ml5"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="card">
                                    <div class="card-content">
                                        <div class="">
                                            <div class="panelfootbox">
                                                <div class="fl">T网累计:<b class="f14 color-blue ml10 traffic_13_lj">0.42亿Erl</b></div>
                                                <div class="fr">年同比:<b class="f14 ml10 color-blue traffic_13_ljb">-2.68%</b><i class="downarrow2 ml5"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>