<div class="swiper-container-h swiper-init-users">
    <div class="swiper-pagination swiper-pagination-users"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide users1">
            <!-- 第一部分-s -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">用户数</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 日期+菜单-e -->
                    <!-- 总流量-s -->
                    <div class="ml20 mr20 tc borderbottom">
                        <p class="m0 color-lightwhite f16">全网最大登记用户数:19时</p>

                        <h1 class="m0 color-yellow f45"><span class="users_147_c">2308.46</span><span class="color-lightwhite f16">万个</span></h1>

                    </div>
                    <!-- 总流量-e -->
                    <!-- 月环比，周环比，年同比 -s-->
                    <div class="m20">
                        <ul class="datacol3">
                            <li>
                                <div class="borderright tc">
                                    <p class="m0 color-lightwhite f12 fb">周环比</p>

                                    <h2 class="mt5 mb0 f16 users_147_week">-1.93%<i class="downarrow ml5"></i></h2>
                                </div>
                            </li>
                            <li>
                                <div class="borderright tc">
                                    <p class="m0 color-lightwhite f12 fb">月环比</p>

                                    <h2 class="mt5 mb0 f16 users_147_month">2.15%<i class="uparrow ml5"></i></h2>
                                </div>
                            </li>
                            <li>
                                <div class="tc">
                                    <p class="m0 color-lightwhite f12 fb">年同比</p>

                                    <h2 class="mt5 mb0 f16 users_147_year">14.53%</h2>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 月环比，周环比，年同比 -e-->
                </div>
            </div>
            <!-- 第一部分-e -->
            <div class="tabbar tabbar-scrollable pr uitab">
                <div class="toolbar-inner">
                    <!-- 关联到第一个tab的链接，默认激活 -->
                    <a href="#data_flow_users_1_tab1" class="tab-link active button borderright">
                        <h3 class="f18 m0 fn users_gsm_c">2112.41万户</h3>

                        <div class="m0 f12 op6">GSM(万个)</div>
                    </a>
                    <!-- 关联到第二个tab的链接 -->
                    <a href="#data_flow_users_1_tab2" class="tab-link button borderright">
                        <h3 class="f18 m0 fn users_td_c">196.05</h3>

                        <div class="m0 f12 op6">TD(万个)</div>
                    </a>
                </div>
            </div>
            <div class="tabs-animated-wrap">
                <!-- Tabs, tabs容器 -->
                <div class="tabs">
                    <!-- Tab 1，默认激活 -->
                    <div id="data_flow_users_1_tab1" class="tab active">
                        <div class="list-block cards-list cards-list-margin5">
                            <ul>
                                <li class="card">
                                    <div class="uicardheader1">GSM登记用户数:<i class="headdata users_gsm_c">2112.41万户</i></div>
                                    <div class="card-content">
                                        <div class="">
                                            <div class="pb10">
                                                <ul class="datacol3">
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">周环比</div>
                                                            <h3 class="f16 m0 fn"><span class=" users_gsm_week">-3.38%</span><i class="downarrow2 ml5"></i></h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">月环比</div>
                                                            <h3 class="f16 m0 fn"><span class=" users_gsm_month">-2.48%</span><i class="uparrow2 ml5"></i></h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class=" pl20">
                                                            <div class="m0 f12 labelcolor">年同比</div>
                                                            <h3 class="f16 m0 fn"><span class=" users_gsm_year">1.18%</span><i class="uparrow2 ml5"></i></h3>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="list-block cards-list cards-list-margin5">
                            <ul>
                                <li class="card">
                                    <div class="uicardheader1">全网GSM最大登记用户数<i class="headdata">19时</i></div>
                                    <div class="card-content">
                                        <div class="">
                                            <div class="pb10">
                                                <ul class="datacol3">
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">周环比</div>
                                                            <h3 class="f16 m0 fn users_gsmmax_week">-3.38%</h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">月环比</div>
                                                            <h3 class="f16 m0 fn users_gsmmax_month">-2.48%</h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class=" pl20">
                                                            <div class="m0 f12 labelcolor">年同比</div>
                                                            <h3 class="f16 m0 fn users_gsmmax_year">1.18%</h3>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div id="data_flow_users_1_tab2" class="tab">
                        <div class="list-block cards-list cards-list-margin5">
                            <ul>
                                <li class="card">
                                    <div class="uicardheader1">TD-SCDMA登记用户数:<i class="headdata users_td_c">196.05万户</i></div>
                                    <div class="card-content">
                                        <div class="">
                                            <div class="pb10">
                                                <ul class="datacol3">
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">周环比</div>
                                                            <h3 class="f16 m0 fn users_td_week">-3.38%</h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">月环比</div>
                                                            <h3 class="f16 m0 fn users_td_month">-2.48%</h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class=" pl20">
                                                            <div class="m0 f12 labelcolor">年同比</div>
                                                            <h3 class="f16 m0 fn users_td_year">1.18%</h3>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="list-block cards-list cards-list-margin5">
                            <ul>
                                <li class="card">
                                    <div class="uicardheader1">全网TD最大登记用户数<i class="headdata">19时</i></div>
                                    <div class="card-content">
                                        <div class="">
                                            <div class="pb10">
                                                <ul class="datacol3">
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">周环比</div>
                                                            <h3 class="f16 m0 fn users_tdmax_week">-3.38%</h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="borderright pl20">
                                                            <div class="m0 f12 labelcolor">月环比</div>
                                                            <h3 class="f16 m0 fn users_tdmax_month">-2.48%</h3>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class=" pl20">
                                                            <div class="m0 f12 labelcolor">年同比</div>
                                                            <h3 class="f16 m0 fn users_tdmax_year">1.18%</h3>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-slide users2">
            <!-- 第一部分-s -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class="open-panel">
                                    <span class="color-lightwhite">用户数</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 日期+菜单-e -->
                    <!-- 总流量-s -->
                    <div class="ml20 mr20 tc borderbottom">
                        <p class="m0 color-lightwhite f16">全网HLR用户数</p>
                        <h1 class="m0 color-yellow f45"><span class=" users_hlr_c">2462</span><span class="color-lightwhite f16">万个</span></h1>

                    </div>
                    <!-- 总流量-e -->
                    <!-- 月环比，周环比，年同比 -s-->
                    <div class="m20">
                        <ul class="datacol3">
                            <li>
                                <div class="borderright tc">
                                    <p class="m0 color-lightwhite f12 fb">登记在省内</p>

                                    <h2 class="mt5 mb0 f16 users_hlr155_c">1845.04万</h2>
                                </div>
                            </li>
                            <li>
                                <div class="borderright tc">
                                    <p class="m0 color-lightwhite f12 fb">漫游至省外</p>

                                    <h2 class="mt5 mb0 f16 users_156_c">564.81万</h2>
                                </div>
                            </li>
                            <li>
                                <div class="tc">
                                    <p class="m0 color-lightwhite f12 fb">漫游至国外</p>

                                    <h2 class="mt5 mb0 f16 users_157_c">140508</h2>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 月环比，周环比，年同比 -e-->
                </div>
            </div>
            <!-- 第一部分-e -->
            <div class="boxcon noborder">
                <div class="list-block uilistblock">
                    <div class="list-block cards-list cards-list-margin5">
                        <ul>
                            <li class="card">
                                <div class="uicardheader1">漫游来访用户:<i class="headdata users_152_c">414.19万户</i></div>
                                <div class="card-content">
                                    <div class="">
                                        <div class="pb10">
                                            <ul class="datacol3">
                                                <li>
                                                    <div class="borderright pl20">
                                                        <div class="m0 f12 labelcolor">周环比</div>
                                                        <h3 class="f16 m0 fn users_152_week">-3.38%</h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="borderright pl20">
                                                        <div class="m0 f12 labelcolor">月环比</div>
                                                        <h3 class="f16 m0 fn users_152_month">-2.48%</h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class=" pl20">
                                                        <div class="m0 f12 labelcolor">年同比</div>
                                                        <h3 class="f16 m0 fn users_152_year">1.18%</h3>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="list-block cards-list cards-list-margin5">
                        <ul>
                            <li class="card">
                                <div class="uicardheader1">漫游出访用户:<i class="headdata users_153_c">578.87万户</i></div>
                                <div class="card-content">
                                    <div class="">
                                        <div class="pb10">
                                            <ul class="datacol3">
                                                <li>
                                                    <div class="borderright pl20">
                                                        <div class="m0 f12 labelcolor">周环比</div>
                                                        <h3 class="f16 m0 fn users_153_week">-3.38%</h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="borderright pl20">
                                                        <div class="m0 f12 labelcolor">月环比</div>
                                                        <h3 class="f16 m0 fn users_153_month">-2.48%</h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class=" pl20">
                                                        <div class="m0 f12 labelcolor">年同比</div>
                                                        <h3 class="f16 m0 fn users_153_year">1.18%</h3>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-slide users3">

            <!-- 第一部分-s -->
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">用户数</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ml20 mr20 pb20 tc">
                        <p class="m0 f18">上网用户数</p>

                    </div>

                </div>
            </div>

            <div class="boxcon noborder">
                <div class="list-block uilistblock">
                    <div class="list-block cards-list cards-list-margin5">
                        <ul>
                            <li class="card">
                                <div class="uicardheader1">SGSN峰值附着用户数:<i class="headdata users_sgsn_c">584.57万户</i></div>
                                <div class="card-content">
                                    <div class="">
                                        <div class="pb10">
                                            <ul class="datacol3">
                                                <li>
                                                    <div class="borderright tc">
                                                        <div class="m0 f12 op6">周环比</div>
                                                        <h3 class="f16 m0 fn users_sgsn_week">-3.38%</h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="borderright tc">
                                                        <div class="m0 f12 op6">月环比</div>
                                                        <h3 class="f16 m0 fn users_sgsn_month">-2.48%</h3>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="list-block cards-list cards-list-margin5">
                        <ul>
                            <li class="card">
                                <div class="uicardheader1">LTE峰值用户数(MME附着用户数):<i class="headdata users_159_c">584.57万户</i></div>
                                <div class="card-content">
                                    <div class="">
                                        <div class="pb10">
                                            <ul class="datacol3">
                                                <li>
                                                    <div class="borderright tc">
                                                        <div class="m0 f12 op6">周环比</div>
                                                        <h3 class="f16 m0 fn users_159_week">-3.38%</h3>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="borderright tc">
                                                        <div class="m0 f12 op6">月环比</div>
                                                        <h3 class="f16 m0 fn users_159_month">-2.48%</h3>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block cards-list cards-list-margin5">
                        <ul>
                            <li class="card">
                                <div class="uicardheader1">全网WLAN AC关联用户数平均值:<i class="headdata users_160_c">584.57万户</i></div>
                                <div class="card-content">
                                    <div class="">
                                        <div class="pb10">
                                            <ul class="datacol3">
                                                <li>
                                                    <div class="borderright tc">
                                                        <div class="m0 f12 op6">峰值</div>
                                                        <h3 class="f16 m0 fn users_160_month">-</h3>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>