<div class="swiper-container-h swiper-init-utilization">
    <div class="swiper-pagination swiper-pagination-utilization"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide utilization1">
            <div class="topdatabox">
                <div class="tdcon">
                    <!-- 日期+菜单-s -->
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">网络利用率</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxcon noborder">
                <div class="list-block cards-list cards-list-margin5">
                    <ul>
                        <li class="card">
                            <div class="card-header ui-card-heade">2G无线网</div>
                            <div class="card-content">
                                <div class="">
                                    <div class="list-block usernormallist">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">无线网综合利用率</div>
                                                    <div class="item-after datastyle">50.39%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">无线网语音利用率</div>
                                                    <div class="item-after datastyle">26.14%</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">PDCH承载效率</div>
                                                    <div class="item-after datastyle">9.95kbps</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card-header ui-card-heade">TD无线网</div>
                            <div class="card-content">
                                <div class="">
                                    <div class="list-block usernormallist">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">TD码资源利用率</div>
                                                    <div class="item-after datastyle">12.55%</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card-header ui-card-heade">LTE无线网</div>
                            <div class="card-content">
                                <div class="">
                                    <div class="list-block usernormallist">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">网络利用率</div>
                                                    <div class="item-after datastyle">4.35%</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card-header ui-card-heade">SGSN</div>
                            <div class="card-content">
                                <div class="">
                                    <div class="list-block usernormallist">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">SGSN利用率</div>
                                                    <div class="item-after datastyle">32.42%</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card-header ui-card-heade">WLAN</div>
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <div class="list-block usernormallist">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">DHCP地址池利用率</div>
                                                    <div class="item-after datastyle">9.86%</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>