<div class="swiper-container-h swiper-init-volte">
    <div class="swiper-pagination swiper-pagination-volte"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide volte1">
            <div class="topdatabox">
                <div class="tdcon">
                    <div class="p10">
                        <div class="clearfix w">
                            <div class="fl"><i class="fa fa-calendar f16 mr5"></i><input type="date" class="report-time color-lightwhite"/></div>
                            <div class="fr">
                                <a href="#" data-panel="right" class=" open-panel">
                                    <span class="color-lightwhite">VOLTE专题</span><i
                                        class="fa fa-bars f16 ml5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt15">
                <ul class="blocks2">
                    <li>
                        <div class="b2con">
                            <h3>SBC注册用户数</h3>
                            <p class="f12">(个)</p>
                            <h1>81792</h1>
                            <div>周环比：<b class="fn traffic_gsm_week">24.1%</b><i class="uparrow2 ml5"></i></div>
                        </div>
                    </li>
                    <li>
                        <div class="b2con">
                            <h3>SBC占用话务量</h3>
                            <p class="f12">(Erl)</p>
                            <h1>7528.875</h1>
                            <div>周环比：<b class="fn traffic_gsm_week">24.1%</b><i class="uparrow2 ml5"></i></div>
                        </div>
                    </li>
                    <li>
                        <div class="b2con">
                            <h3>SBC接通率</h3>
                            <p class="f12">(%)</p>
                            <h1>93.2</h1>
                            <div>周环比：<b class="fn traffic_gsm_week">24.1%</b><i class="uparrow2 ml5"></i></div>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</div>