<div class="popup">
    <div class="view view-popup navbar-fixed">
        <div class="page">
            <div class="contact-edit-form">
                <!-- 第一部分-s -->
                <div class="topdatabox">
                    <div class="tdcon">
                        <!-- 日期+菜单-s -->
                        <div class="p10">
                            <div class="clearfix w">
                                <a class="fl close-popup"><i class="fa fa-angle-left f16 mr5"></i><span
                                        class="color-lightwhite">返回</span></a>
                                <a href="#" class="fr">网络故障</a>
                            </div>
                        </div>
                        <!-- 日期+菜单-e -->
                        <!-- 总流量-s -->
                        <div class="ml20 mr20 pb20 tc">
                            <div class="borderbottom color-lightwhite pb20 mb20">
                                截止今日6时
                            </div>
                            <p class="m0 color-lightwhite f16">未恢复基站及小区退服工单数</p>

                            <h1 class="m0 color-yellow f45">681<span class="f12 color-lightwhite ml10">个</span></h1>
                        </div>
                        <!-- 总流量-e -->
                    </div>
                </div>
                <!-- 第一部分-e -->
                <div class="tabbar tabbar-scrollable pr uitab">
                    <div class="toolbar-inner">
                        <!-- 关联到第一个tab的链接，默认激活 -->
                        <a href="#tab1" class="tab-link active button borderright">
                            <h3 class="f20 m0 fn">235<span class="f12 color-lightwhite ml10">个</span></h3>

                            <div class="m0 f12 op6">GSM</div>
                        </a>
                        <!-- 关联到第二个tab的链接 -->
                        <a href="#tab2" class="tab-link button borderright">
                            <h3 class="f20 m0 fn">86<span class="f12 color-lightwhite ml10">个</span></h3>

                            <div class="m0 f12 op6">TD</div>
                        </a>
                        <!-- 关联到第三个tab的链接 -->
                        <a href="#tab3" class="tab-link button">
                            <h3 class="f20 m0 fn">342<span class="f12 color-lightwhite ml10">个</span></h3>

                            <div class="m0 f12 op6">LTE</div>
                        </a>
                    </div>
                </div>
                <div class="tabs-animated-wrap">
                    <!-- Tabs, tabs容器 -->
                    <div class="tabs">
                        <!-- Tab 1，默认激活 -->
                        <div id="tab1" class="tab active">
                            <div class="boxtitleout tc">2016-06-06</div>
                            <div class="boxcon pt20 pb20">
                                <div style="height:200px;"><img src="img/tmp1.png" width="100%"></div>
                            </div>
                            <div class="p10">
                                <div class="uipanel">
                                    <div class="panel-title">GSM</div>
                                    <div class="panel-body">
                                        <table class="uitable" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>分公司</th>
                                                <th>基站号</th>
                                                <th>基站名称</th>
                                                <th>工单号</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <div id="tab2" class="tab">
                            <div class="boxtitleout tc">2016-06-06</div>
                            <div class="boxcon pt20 pb20">
                                <div style="height:200px;"><img src="img/tmp1.png" width="100%"></div>
                            </div>
                            <div class="p10">
                                <div class="uipanel">
                                    <div class="panel-title">TD</div>
                                    <div class="panel-body">
                                        <table class="uitable" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>分公司</th>
                                                <th>基站号</th>
                                                <th>基站名称</th>
                                                <th>工单号</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 3 -->
                        <div id="tab3" class="tab">
                            <div class="boxtitleout tc">2016-06-06</div>
                            <div class="boxcon pt20 pb20">
                                <div style="height:200px;"><img src="img/tmp1.png" width="100%"></div>
                            </div>
                            <div class="p10">
                                <div class="uipanel">
                                    <div class="panel-title">LTE</div>
                                    <div class="panel-body">
                                        <table class="uitable" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>分公司</th>
                                                <th>基站号</th>
                                                <th>基站名称</th>
                                                <th>工单号</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            <tr>
                                                <td>城一</td>
                                                <td>40968</td>
                                                <td>朝阳东方博爱儿童福利院NTD</td>
                                                <td><a href="#">ID-3021-160507-01478</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


